import { defineConfig } from "vite";
import path from "path";
import laravel from "laravel-vite-plugin";
import vue from "@vitejs/plugin-vue";

export default defineConfig({
    // Uncomment if your server uses https:
    // server: {
    //     https: {
    //         key: "./path/to/ssl.key",
    //         cert: "./path/to/ssl.crt",
    //     },
    //     host: "host.example",
    // },
    plugins: [
        vue({
            template: {
                compilerOptions: {
                    whitespace: "preserve",
                },
            },
        }),
        laravel({
            input: [
                "resources/js/control-panel/app.ts",
                "resources/js/front/app.ts",
            ],
            refresh: true,
        }),
    ],
    resolve: {
        alias: {
            "@app/css": path.resolve(__dirname, "./resources/css/app/"),
            "@app/js": path.resolve(__dirname, "./resources/js/app/"),
            "@app/views": path.resolve(__dirname, "./resources/views/App/"),
            "@control-panel/css": path.resolve(
                __dirname,
                "./resources/css/control-panel/"
            ),
            "@control-panel/js": path.resolve(
                __dirname,
                "./resources/js/control-panel/"
            ),
            "@control-panel/views": path.resolve(
                __dirname,
                "./resources/views/ControlPanel/"
            ),
            "@front/css": path.resolve(__dirname, "./resources/css/front/"),
            "@front/js": path.resolve(__dirname, "./resources/js/front/"),
            "@front/views": path.resolve(__dirname, "./resources/views/Front/"),
            "@ziggy": path.resolve(__dirname, "./vendor/tightenco/"),
        },
    },
});
